body,
h1,
h2,
h3,
p {
  margin: 0;
  color: var(--color-text);
}

p,
ul,
a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: 'Crete Round', serif;
  font-weight: 390;
}

.name {
  background-color: #3c3a39;
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  top: 48px;
  position: absolute;
}

.menu {
  background-color: #3c3a39;
  border: none;
  position: absolute;
  width: 30px;
  height: 20px;
  right: 24px;
  top: 48px;
}

img {
  max-width: 100%;
  height: 100%;
}

.menu-bar {
  display: flex;
  background-color: #3c3a39;
  color: #fff;
  height: 90px;
  align-items: center;
}

.menu-bar a {
  color: #fff;
  font-size: 20px;
  margin: 0 35px;
  flex: 1;
  display: flex;
}

.intro {
  display: flex;
  background-color: #1c1a19;
  background-image: url("../images/background@2x.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 370px;
  height: 620px;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  row-gap: 10px;
}

.intro h1 {
  color: #ff6b00;
  font-size: 55px;
  font-family: 'Crete Round', serif;
}

.intro h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.intro p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.intro ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 5;
  margin: 5;
}

.intro li {
  height: 20px;
}

.languages {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 12px;
}

.languages li {
  border-style: solid;
  border-color: #8993a4;
  border-width: 1px;
  padding: 10px 12px;
  font-weight: 500;
}

.fs {
  align-self: flex-start;
  margin-bottom: 120px;
}

#projects {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding-bottom: 120px;
}

.project {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 background: none;
 min-height: 386px;
 line-height: 24px;
 background-image: url("../images/projectbackground.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 color: #fff;
}

.project h2 {
  line-height: 44px;
	margin-bottom: 12px;
	text-align: center;
	margin-left: -65px;
}
  
.project p {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 350;
font-size: 16px;
line-height: 24px;
text-align: center;
margin-left: 16px;
}

.project ul {
  color: var(--color-negative);
  padding-left: 10%;
  padding-right: 10%;
}

.abmehead {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bgr-negative);
  background-image: url("../images/aboutme.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 250px;
  min-height: 590px;
  color: #ff6b00;
}

.abmehead h2 {
  margin-top: 120px;
  margin-bottom: 24px;
  color: var(--color-accent);
  font-size: 72px;
  font-family: 'Crete Round', serif;
}

#aboutme hr {
  width: 100%;
}

.features .feature-item {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.about-list {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 22px;
  line-height: 2;
}

#feature-project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#feature-project h2 {
  font-size: 36px;
  text-align: center;
}

.probut {
  background-color: #ff6b00;
  color: #fff;
  height: 48px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  align-items: center;
}

.resubut {
  background-color: #ff6b00;
  color: #fff;
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
}

.abmedesc {
  color: #fff;
  font-weight: 400px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
}

.meabout { background-color: #1c1a19; }

.featbut {
  background-color: #ff6b00;
  color: #fff;
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  width: 124px;
}

.myrecent {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.multipost {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background-color: #e05304;
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

li {
  list-style-type: none;
  font-size: 22px;
  margin-top:32px;
